.scroll-to-top {
    position: fixed;
    bottom: 50px; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
    z-index: 9999; /* Ensure it appears above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scroll-button {
    background-color: blue;
    border: none;
    cursor: pointer;
    outline: none !important;
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;

}
.scroll-button:hover{
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
    /* opacity: 0.8; */
}

/* Style for the arrow image */
.scroll-button img {
    width: 15px; /* Adjust size as needed */
    height: auto;
}
